<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>

    <div class="container" style="font-size: 52px">
        <div class="heading_container heading_center">
            <h1>
                Productos
            </h1>
        </div>
    </div>


    <div class="container" style="margin-top: 70px, background-attachment;">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        Agregar Producto
                    </div>
                    
                    <div class="card-body">

                        <!-- Button Create -->
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                            data-target="#crearProducto">
                            Nuevo
                        </button>

                        <!-- Modal nuevo producto -->
                        <div class="modal fade" id="crearProducto" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Información del Producto</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="form">
                                            <div class="form-group">
                                                <input type="text" name="pro_nombre" formControlName="pro_nombre"
                                                    placeholder="Nombre del producto" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="pro_descripcion"
                                                    formControlName="pro_descripcion" placeholder="Descripción"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" name="cat_id" formControlName="cat_id"
                                                    placeholder="Categoría" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="pro_iva" formControlName="pro_iva"
                                                    placeholder="IVA" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" name="pro_costo" formControlName="pro_costo"
                                                    placeholder="Costo" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" name="pro_pvp" formControlName="pro_pvp"
                                                    placeholder="Precio de venta" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="pro_imagen" formControlName="pro_imagen"
                                                    placeholder="Imagen" class="form-control">
                                            </div>


                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-primary" (click)="crearProducto()"
                                                    data-dismiss="modal">Crear</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered table-hover bg-white">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Iva</th>
                            <th>Costo</th>
                            <th>Precio Venta</th>
                            <th>Imagen</th>
                            <th>Stock</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">

                            <td>
                                {{producto.pro_id}}
                            </td>
                            <td>
                                {{producto.pro_nombre}}
                            </td>
                            <td>
                                {{producto.pro_descripcion}}
                            </td>
                            <td>
                                {{producto.pro_iva}}
                            </td>
                            <td>
                                {{producto.pro_costo}}
                            </td>
                            <td>
                                {{producto.pro_pvp}}
                            </td>
                            <td>
                                <img src="{{producto.pro_imagen}}" width="100" height="70">
                            </td>
                            <td>
                                {{producto.pro_stock}}
                            </td>
                            <td>
                                {{producto.pro_categoria.cat_nombre}}
                            </td>

                            <td class="d-flex-justify-content-center">
                                <a class="btn btn-danger" (click)="borrarProducto(producto.pro_id)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a class="btn btn-success" data-toggle="modal" data-target="#actualizarProducto"
                                    (click)='infoUpdateProducto(producto.pro_id, producto.pro_nombre, producto.pro_descripcion,
                                    producto.pro_categoria.cat_id,producto.pro_iva,producto.pro_costo,producto.pro_pvp,producto.pro_imagen)'>
                                    <i class="fas fa-edit"></i>
                                </a>
                                <div class="modal fade" id="actualizarProducto" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Cerrar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <form [formGroup]="form">
                                                    <div class="form-group">
                                                        <label>
                                                            <h6>Id Producto: {{informacionProducto.pro_id}}</h6>
                                                        </label>
                                                        <div class="form-group">
                                                            <input type="text" name="pro_nombre"
                                                                formControlName="pro_nombre"
                                                                placeholder="{{informacionProducto.pro_nombre}}"
                                                                class="form-control"
                                                                value="{{informacionProducto.pro_nombre}}">
                                                        </div>

                                                        <div class="form-group">
                                                            <input type="text" name="pro_descripcion"
                                                                formControlName="pro_descripcion"
                                                                placeholder="{{informacionProducto.pro_descripcion}}"
                                                                class="form-control"
                                                                value="{{informacionProducto.pro_descripcion}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="number" name="cat_id" formControlName="cat_id"
                                                                placeholder="{{informacionProducto.cat_id}}"
                                                                class="form-control"
                                                                value="{{informacionProducto.cat_id}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" name="pro_iva" formControlName="pro_iva"
                                                                placeholder="{{informacionProducto.pro_iva}}"
                                                                class="form-control"
                                                                value="{{informacionProducto.pro_iva}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="number" name="pro_costo"
                                                                formControlName="pro_costo"
                                                                placeholder="{{informacionProducto.pro_costo}}"
                                                                class="form-control"
                                                                value="{{informacionProducto.pro_costo}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="number" name="pro_pvp"
                                                                formControlName="pro_pvp"
                                                                placeholder="{{informacionProducto.pro_pvp}}"
                                                                class="form-control"
                                                                value="{{informacionProducto.pro_pvp}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" name="pro_imagen"
                                                                formControlName="pro_imagen"
                                                                placeholder="{{informacionProducto.pro_imagen}}"
                                                                class="form-control"
                                                                value="{{informacionProducto.pro_imagen}}">
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>
                                                            <button type="button" class="btn btn-primary"
                                                                (click)="actualizarProducto(informacionProducto.pro_id)"
                                                                data-dismiss="modal">Actualizar</button>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>


        </div>
    </div>
</body>