<div class="content-body">
    <div class="row page-titles mx-0">

        <p-card>
            <div class="heading_container heading_center"
                style="background-color: #4C4C6D; height: 150px;padding-top:2px;">
                <h2 style="text-align: center; padding-top: 37px; color: white;font-style:italic;font-size: 55px;">
                    Productos
                </h2>
            </div>
        </p-card>
        <div><br></div>
        <!-- Modal nuevo producto -->
        <div class="modal fade" id="crearProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Información del Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="form">
                            <div class="form-group">
                                <input type="text" name="pro_nombre" formControlName="pro_nombre"
                                    placeholder="Nombre del producto" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="pro_descripcion" formControlName="pro_descripcion"
                                    placeholder="Descripción" class="form-control">
                            </div>
                            <div class="form-group">
                                <select name="cat_nombre" formControlName="cat_nombre" class="form-control">
                                    <option *ngFor="let categoria of categorias" value="{{categoria.cat_nombre}}">
                                        {{categoria.cat_nombre}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <div class="form-group mb-2">
                                        <Label style="padding-right: 10px;">Iva</Label>
                                        <input type="checkbox" name="pro_iva" formControlName="pro_iva"
                                            placeholder="IVA">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="number" name="pro_costo" formControlName="pro_costo" placeholder="Costo"
                                    class="form-control" min="0" step="0.05">
                            </div>
                            <div class="form-group">
                                <input type="number" name="pro_pvp" formControlName="pro_pvp"
                                    placeholder="Precio de venta" class="form-control" min="0" step="0.05">
                            </div>
                            <div class="form-group">
                                <input type="text" name="pro_imagen" formControlName="pro_imagen" placeholder="Imagen"
                                    class="form-control">
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" (click)="crearProducto()"
                                    data-dismiss="modal">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="actualizarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form [formGroup]="form">
                            <div class="form-group">

                                <div class="form-group">
                                    <input type="text" name="pro_id" formControlName="pro_id" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="pro_nombre" formControlName="pro_nombre"
                                        class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="pro_descripcion" formControlName="pro_descripcion"
                                        class="form-control">
                                </div>

                                <div class="form-group">
                                    <select name="cat_nombre" formControlName="cat_nombre" class="form-control">
                                        <option *ngFor="let categoria of categorias" value="{{categoria.cat_nombre}}">
                                            {{categoria.cat_nombre}}</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="form-inline">
                                        <div class="form-group mb-2">
                                            <Label style="padding-right: 10px;">Iva</Label>
                                            <input type="checkbox" name="pro_iva" formControlName="pro_iva"
                                                placeholder="IVA">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="pro_costo" formControlName="pro_costo"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="pro_pvp" formControlName="pro_pvp" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="pro_imagen" formControlName="pro_imagen"
                                        class="form-control">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" (click)="actualizarProducto()"
                                        data-dismiss="modal">Actualizar</button>
                                </div>

                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>


        <div class="content-section implementation">
            <p-toast></p-toast>

            <div class="card">
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            data-toggle="modal" data-target="#crearProducto" (click)="crearProducto()"></button>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [rows]="5" [value]="productos" [paginator]="true" responsiveLayout="scroll"
                    [rowHover]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" [globalFilterFields]="['pro_nombre']">
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <h5 class="m-0">Administrar Productos</h5>

                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>

                            <th pSortableColumn="pro_id">Id<p-sortIcon field="pro_id"></p-sortIcon>
                                <div class="flex justify-content-center align-items-center">
                                    <p-columnFilter type="text" field="pro_id" display="pro_id"></p-columnFilter>
                                </div>

                            </th>
                            <th pSortableColumn="pro_nombre">Nombre<p-sortIcon field="pro_nombre"></p-sortIcon>
                                <div class="flex justify-content-center align-items-center">
                                    <p-columnFilter type="text" field="pro_nombre" display="pro_nombre">
                                    </p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="pro_descripcion">Descripción<p-sortIcon field="pro_descripcion">
                                </p-sortIcon>
                            </th>
                            <th style="width: 10%;">Iva</th>
                            <th pSortableColumn="pro_costo">Costo <p-sortIcon field="pro_costo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="pro_pvp">Precio <p-sortIcon field="pro_pvp"></p-sortIcon>
                            </th>
                            <th>Imagen</th>
                            <th pSortableColumn="pro_stock">Stock <p-sortIcon field="pro_stock"></p-sortIcon>
                            </th>
                            <th pSortableColumn="pro_categoria.cat_nombre">Categoría <p-sortIcon
                                    field="pro_categoria.cat_nombre"></p-sortIcon>
                                <div class="flex justify-content-center align-items-center">
                                    <p-columnFilter type="text" field="pro_categoria.cat_nombre"
                                        display="pro_categoria.cat_nombre"></p-columnFilter>
                                </div>
                            </th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-producto>
                        <tr>

                            <td>{{producto.pro_id}}</td>
                            <td>
                                {{producto.pro_nombre}}
                            </td>
                            <td>
                                {{producto.pro_descripcion}}
                            </td>
                            <td>
                                {{cambiarIva(producto.pro_iva)}}
                            </td>
                            <td>
                                {{producto.pro_costo}}
                            </td>

                            <td>{{producto.pro_pvp}}</td>
                            <td>

                                <img src="{{producto.pro_imagen}}" width="80">
                            </td>
                            <td>
                                {{producto.pro_stock}}
                            </td>
                            <td>
                                {{producto.pro_categoria.cat_nombre}}
                            </td>
                            <td>
                                {{producto.pro_estEti}}
                            </td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" style="height: 2.5rem; width: 2.5rem;"
                                    class="p-button-rounded p-button-success mr-1" data-toggle="modal"
                                    data-target="#actualizarProducto" (click)="infoProducto2(producto)"></button>

                                <button pButton pRipple type="button" icon="pi pi-power-off"
                                    class="p-button-rounded p-button-danger" style="height: 2.5rem; width: 2.5rem;"
                                    (click)="cambiarEstado(producto)"></button>

                                <button pButton pRipple type="button" icon="pi pi-chart-line"
                                    style="height: 2.5rem; width: 2.5rem;" class="p-button-rounded p-button-secondary"
                                    [routerLink]="['/kardex/id/',producto.pro_id]"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">

                        </div>
                    </ng-template>
                </p-table>
            </div>

            <p-dialog [style]="{width: '450px'}" header="Detalles del producto" [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="name">Nombre</label>
                        <input type="text" pInputText id="pro_nombre" required autofocus />
                        <small class="p-error">Ingrese un nombre.</small>
                    </div>
                    <div class="field">
                        <label for="description">Descripción</label>
                        <textarea id="pro_descripcion" pInputTextarea required rows="3" cols="20"></textarea>
                    </div>
                    <div class="field">
                        <label for="name">Iva</label>
                        <input type="text" pInputText id="pro_iva" required autofocus />
                        <small class="p-error">Ingrese un nombre.</small>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="pro_costo">Costo</label>
                            <p-inputNumber id="pro_costo"></p-inputNumber>
                        </div>
                        <div class="field col">
                            <label for="pro_pvp">Precio</label>
                            <p-inputNumber id="pro_pvp"></p-inputNumber>
                        </div>
                    </div>

                    <img [src]="">


                </ng-template>


            </p-dialog>

            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>

    </div>
</div>