<div class="content-body">
    <div class="row page-titles mx-0">

        <p-card>
            <div class="heading_container heading_center"
                style="background-color: #4C4C6D; height: 150px;padding-top:2px;">
                <h2 style="text-align: center; padding-top: 37px; color: white;font-style:italic;font-size: 55px;">
                    Ajustes
                </h2>
            </div>
        </p-card>
        <div><br></div>

        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success"
                    label="Nuevo Ajuste" [routerLink]="['/ajustes/create']"></button>

            </ng-template>
        </p-toolbar>
        <p-table [value]="ajustes" [rows]="8" [paginator]="true" dataKey="aju_numero" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Administrar Ajustes</h5>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="ico"></th>
                    <th pSortableColumn="numero">Número de ajuste<p-sortIcon field="numero"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fecha">Fecha<p-sortIcon field="fecha"></p-sortIcon>
                    </th>
                    <th pSortableColumn="descipcion">Descipción</th>
                    <th pSortableColumn="estado">Estado</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ajuste let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="ajuste"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td><img [src]="'../../../assets/images/ajuste.png'" width="50"
                            class="shadow-4" /></td>
                    <td>{{ajuste.aju_numero}}</td>
                    <td>{{ajuste.aju_fecha}}</td>
                    <td>{{ajuste.aju_descripcion}}</td>
                    <td>{{ajuste.aju_estado_etiqueta}}</td>
                    <td>

                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info mr-1"
                            [routerLink]="['/ajustes/update/',ajuste.aju_numero]"
                            style="height: 2.5rem; width: 2.5rem;" [disabled]="!ajuste.aju_modificable"></button>

                        <button pButton pRipple type="button" icon="pi pi-print"
                            class="p-button-rounded p-button-warning mr-1" style="height: 2.5rem; width: 2.5rem;"
                            (click)="imprimir(ajuste)"></button>

                        <button pButton pRipple type="button" icon="pi pi-power-off"
                            class="p-button-rounded p-button-danger" style="height: 2.5rem; width: 2.5rem;"
                            (click)="cambiarEstado(ajuste)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-ajuste>
                <tr>
                    <td colspan="7">
                        <div class="p-3">
                            <p-table [value]="ajuste.aju_detalle" dataKey="id">
                                <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">Id Producto<p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="pronom">Nombre Producto<p-sortIcon field="pronom"></p-sortIcon>
                    </th>
                    <th pSortableColumn="date">Cantidad Modificada<p-sortIcon field="date"></p-sortIcon>
                    </th>
                    <th style="width: 4rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalle>
                <tr>
                    <td>{{detalle.pro_id}}</td>
                    <td>{{detalle.producto.pro_nombre}}</td>
                    <td>{{detalle.aju_det_cantidad}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">Este ajuste no ha modificado ningun producto</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
</div>